.benefits {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 30px;
}

.titleb {
  font-size: 4rem;
  color: black;
  text-align: left;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  padding-top: 30px;
}

@media (max-width: 767px) {
  .titleb {
    font-size: 2rem;
    text-align: center;
  }

  .iconContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    padding-top: 0px;
  }

  .primericon {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }

  .rectangulo1 {
    width: 200px;
    height: 250px;
    background-color: #936cfb;
    position: relative;
    border-radius: 15px;
  }

  .icono1 {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 10%;
    left: 30%;
  }

  .texto1 {
    padding-top: 50%;
    font-size: 1rem;
    color: white;
    text-align: center;
  }

  .rectangulo2 {
    width: 200px;
    height: 250px;
    background-color: #936cfb;
    position: relative;
    border-radius: 15px;
  }

  .icono2 {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 10%;
    left: 30%;
  }

  .texto2 {
    padding-top: 50%;
    font-size: 1rem;
    color: white;
    text-align: center;
  }

  .rectangulo3 {
    width: 200px;
    height: 250px;
    background-color: #936cfb;
    position: relative;
    border-radius: 15px;
  }

  .icono3 {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 10%;
    left: 30%;
  }

  .texto3 {
    padding-top: 50%;
    font-size: 1rem;
    color: white;
    text-align: center;
  }
}
