.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  margin-top: 5em;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 30em;
  height: 15em;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titleContainer p {
  font-size: 1.5em;
  font-weight: 600;
}

.valueContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.valueText {
  font-size: 2.5em;
  font-weight: 600;
  color: #5b57f4;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 15em;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 15em;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.bottomLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 100%;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.bottomRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}
