.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.topContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  gap:1.2rem;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70%;
  margin-top: 5em;
  gap:1.2rem;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 32em;
  height: 15em;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titleContainer p {
  font-size: 1.5em;
  font-weight: 600;
}

.valueContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.valueText {
  font-size: 2.5em;
  font-weight: 600;
  color: #5b57f4;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 15em;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 20em;
  height: 15em;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.bottomLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  height: 100%;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.bottomRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 42%;
  height: 100%;
  background: linear-gradient(
    140deg,
    #ffefbc 3.63%,
    #fee492 49.54%,
    #fee492 96.37%
  );
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  margin: 0.5em;
  padding: 3em;
}

.botLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: 50%;
  margin-top: 8em;
  margin-bottom: 50%;
  position: relative;
}

.adContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.adContainer p {
  font-size: 2em;
  text-align: left;
  font-weight: 600;
}

.chatButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 3em;
  background: var(--salmon);
  color: black;
  border-radius: 0.5em;
  border: 3px solid black;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.2rem;
}

.botRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.imgContainer {
  height: 25em;
  width: 25em;
  margin-top: 4em;
}

.imgContainer img {
  height: 100%;
  width: 100%;
}
