.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left-Container {
  z-index: 2;
  color: white;
  font-size: 6rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color {
  color: #fee492;
}
.mainContainer {
  z-index: 99;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 75px;
}

.left-Container {
  z-index: 2;
  color: white;
  font-size: 6rem;
  justify-content: center;
}

.color {
  color: #fee492;
}

@media (max-width: 767px) {
  .mainContainer {
    padding-top: 0px;
  }
  .left-Container {
    font-size: 4rem;
  }
}
