.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 100vh;
}

.left-Container,
.right-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-Container {
  padding-top: 125px;
  color: white;
  font-size: 4rem;
  justify-content: left;
  padding-right: 200px;
  align-items: center;
}

.right-Container {
  padding-top: 100px;
  justify-content: right;
  align-items: right;
}

.clara{
    width: 40rem;
    height: 40rem;
}
