.problem {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleP {
  font-size: 6rem;
  color: white;
  text-align: left;
}

.datos {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  padding-top: 75px;
}

.primerdato {
  display: flex;
  flex-direction: column;
}

.porcentaje {
  font-size: 7rem;
  color: white;
}

.textp {
  font-size: 3.5rem;
  color: white;
}

.segundodato {
  display: flex;
  flex-direction: column;
}

.año {
  font-size: 7rem;
  color: white;
}

.texta {
  font-size: 3.5rem;
  color: white;
}

.tercerdato {
  display: flex;
  flex-direction: column;
}

.numero {
  font-size: 7rem;
  color: white;
}

.textn {
  font-size: 2.5rem;
  color: white;
}
.problem {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 30px;
}

.titleP {
  font-size: 6rem;
  color: white;
  text-align: left;
}

.datos {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  padding-top: 75px;
}

.primerdato {
  display: flex;
  flex-direction: column;
}

.porcentaje {
  font-size: 5.5rem;
  color: white;
}

.textp {
  font-size: 2rem;
  color: white;
}

.segundodato {
  display: flex;
  flex-direction: column;
}

.año {
  font-size: 5.5rem;
  color: white;
}

.texta {
  font-size: 2rem;
  color: white;
}

.tercerdato {
  display: flex;
  flex-direction: column;
}

.numero {
  font-size: 5.5rem;
  color: white;
}

.textn {
  font-size: 2rem;
  color: white;
}

@media (max-width: 767px) {
  .problem {
    padding-top: 0px;
  }

  .titleP p {
    font-size: 3rem;
    text-align: center;
  }

  .datos {
    flex-direction: column;
    gap: 50px;
  }

  .primerdato {
    align-items: center;
  }

  .porcentaje {
    font-size: 4rem;
  }

  .textp {
    font-size: 1.5rem;
  }

  .segundodato {
    align-items: center;
  }

  .año {
    font-size: 4rem;
  }

  .texta {
    font-size: 1.5rem;
  }

  .tercerdato {
    align-items: center;
  }

  .numero {
    font-size: 4rem;
  }

  .textn {
    font-size: 1.5rem;
  }
}
