main{
    z-index: 99;
}
#aboutus{
    background-color: white;
    height:1080px;

}

#problem{
    background-color: #936CFB;
    height:1080px;
}

#benefits{
    background-color: white;
    height:1080px;
}