main {
  min-height:100%;
}


#aboutus {
  background-color: white;
  height: 1080px;
  display: flex;
  flex-direction: column;
}

#problem {
  background-color: #936cfb;
  height: 1080px;
}

#benefits {
  background-color: white;
  height: 1080px;
}
