main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

#aboutus {
    background-color: white;
<<<<<<< HEAD
=======
    min-height: 100vh;
>>>>>>> 7b3f2bce2e5e2d200ddc9b61e40b605cface98ec

}

#problem {
    background-color: #936CFB;
<<<<<<< HEAD
=======
    min-height: 100vh;
>>>>>>> 7b3f2bce2e5e2d200ddc9b61e40b605cface98ec
}

#benefits {
    background-color: white;
<<<<<<< HEAD

=======
    min-height: 100vh;
>>>>>>> 7b3f2bce2e5e2d200ddc9b61e40b605cface98ec
}