.navbarContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top:3rem;
    z-index:99;
    font-size: 24px;
    gap:5rem;
  
}

.navbarList{
    display: flex;
    gap:5rem;
    align-items: center;
    position:relative;
}

.logo-container{
    width:8rem;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 4rem;
}
button{
    color:var(--morado-rey);
    background-color: white;
    height:2.5rem;
    width:8rem;
    border-radius: 0.5rem;
    font-size: 18px;
    font-weight:600;

}
.navbarItem a:hover {
    color: var(--amarillo);
}

#up{
    position:absolute;
    width: 60%;
    height: 120%;
    border-radius: 50%;
    left: -5%;
    top: -40%;
    filter:blur(200px);
  }
  
  #down{
    position:absolute;
    width: 60%;
    height: 120%;
    border-radius: 50%;
    top:-20%;
    right: -5%;
    background: linear-gradient(80deg,#36338E,#5E51B7);
    filter:blur(200px);
  }

button:hover{
    background-color: var(--amarillo);
}