.footer {
  width: 100%;
  background-color: #6243bb;
  padding: 10px;
  color: white;
  height: 10rem;
}
.footercont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 15px;
}

.logo-footer-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.footerlogo img {
  height: 7rem;
  width: 10rem;
  object-fit: contain;
}

.footertext {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  font-weight: 400;
}

@media (max-width: 767px) {
  .footercont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 15px;
  }

  .logo-footer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .footerlogo img {
    height: 7rem;
    width: 5rem;
    object-fit: contain;
  }

  .footertext {
    font-size: 1.2rem;
    margin-right: 10px;
    font-weight: 400;
  }
}
