:root {
  --morado-rey: #5B57F4;
  --amarillo: #FFE17E;
  --rosa: #BD3993;
  --salmon: #E07F9C;
  --tranistion: all 500ms ease;


}

*, *::before, *::after{
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}

body{
  font-family: "Poppins";
  overflow-x:hidden;
  line-height: 1.7;
  background-color: var(--morado-rey);
}

h1,h2,h3,h4,h5{
  line-height: 1.5;
  color:white;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 2rem;
}

a{
  color:white;
  font-size: 1.2rem;
}
