:root {
  --morado-rey: #5B57F4;
  --amarillo: #FFE17E;
  --tranistion: all 500ms ease;
}

*, *::before, *::after{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}

body{
  font-family: "Lato", sans-serif ;
  color:black;
  overflow-x:hidden;
  line-height: 1.7;
  background-color:#A19EF5;
}

#up{
  position:absolute;
  width: 60%;
  height: 120%;
  border-radius: 50%;
  left: -5%;
  top: -40%;
  filter:blur(200px);
}

#down{
  position:absolute;
  width: 60%;
  height: 120%;
  border-radius: 50%;
  top:-20%;
  right: -5%;
  background: linear-gradient(80deg,#36338E,#5E51B7);
  filter:blur(200px);
}

h1,h2,h3,h4,h5{
  line-height: 1.5;
  color:white;
}

h1{
  font-size: 4rem;
}

h2{
  font-size: 2rem;
}

a{
  color:white;
  font-size: 1.2rem;
}

img{
  display:flex;
  object-fit: cover;
  width:100%;
}